// Définition des variables de couleur
$primary-color: #091C49; // Couleur principale
$primary-color-ligth: #B8E0FF; // Couleur principale
$secondary-color: #1D6FAB; // Couleur secondaire
$accent-color: #f26405; // Couleur d'accentuation
$text-color: #222; // Couleur du texte
$color-grey: #ccc; // Couleur grise
$color-ligth: #ffffff; // Couleur claire

$header-height: 90px;
$footer-height: 90px;
$sideNav-height: 27px;

$bg-linear-gradient: linear-gradient(108deg, #091C49, #111827);


$media-query-small: 425px;
$media-query-medium: 768px;
$media-query-large: 1024px;
$media-query-xlarge: 1440px;
$media-query-xxlarge: 1920px;