* {
  font-family: "roboto", sans-serif;
  line-height: 125%;
}

.section-title {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .section-title {
    font-size: 54px;
  }
}
@media screen and (max-width: 425px) {
  .section-title {
    font-size: 44px;
  }
}

.header__logo {
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-family: "Alex Brush", cursive;
  font-size: 64px;
  font-weight: 700;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .header__logo {
    font-size: 52px;
  }
}
@media screen and (max-width: 425px) {
  .header__logo {
    font-size: 40px;
  }
}

.nav-section__link {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .nav-section__link {
    font-size: 18px;
  }
}
@media screen and (max-width: 425px) {
  .nav-section__link {
    font-size: 16px;
  }
}

.hero__title {
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 42px;
    line-height: 42px;
  }
}
@media screen and (max-width: 480px) {
  .hero__title {
    font-size: 30px;
    line-height: 30px;
  }
}
.hero__subtitle {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #d9d9d9;
}
@media screen and (max-width: 768px) {
  .hero__subtitle {
    font-size: 32px;
  }
}
@media screen and (max-width: 480px) {
  .hero__subtitle {
    font-size: 24px;
  }
}

.section__title {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .section__title {
    font-size: 54px;
  }
}
@media screen and (max-width: 425px) {
  .section__title {
    font-size: 44px;
  }
}
.section__sub-title {
  font-size: 48px;
  font-weight: 600;
  color: #999;
}
@media screen and (max-width: 768px) {
  .section__sub-title {
    font-size: 38px;
  }
}
@media screen and (max-width: 425px) {
  .section__sub-title {
    font-size: 28px;
    width: 100%;
  }
}

.projet-card__title {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}
.projet-card__sub-title {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  opacity: 0.4;
}
.projet-card__category {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.projet-page__title {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .projet-page__title {
    font-size: 54px;
  }
}
@media screen and (max-width: 425px) {
  .projet-page__title {
    font-size: 44px;
  }
}
.projet-page__subTitle {
  font-size: 48px;
  font-weight: 600;
  color: #d9d9d9;
}
@media screen and (max-width: 768px) {
  .projet-page__subTitle {
    font-size: 38px;
  }
}
@media screen and (max-width: 425px) {
  .projet-page__subTitle {
    font-size: 28px;
    width: 100%;
    text-align: center;
  }
}
.projet-page__description {
  font-size: 28px;
  font-weight: 500;
  color: #999;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .projet-page__description {
    font-size: 24px;
  }
}
@media screen and (max-width: 425px) {
  .projet-page__description {
    font-size: 20px;
  }
}

.services__title,
.skills__title,
.timeline__title {
  font-size: 48px;
  font-weight: 600;
  color: #d9d9d9;
}
@media screen and (max-width: 768px) {
  .services__title,
  .skills__title,
  .timeline__title {
    font-size: 38px;
  }
}
@media screen and (max-width: 425px) {
  .services__title,
  .skills__title,
  .timeline__title {
    font-size: 28px;
    width: 100%;
    text-align: center;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#iconeTheme > path {
  fill: red;
}

body {
  position: relative;
  background-position: center;
  background-size: cover;
  max-width: 100vw;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .app {
    padding: 0;
  }
}

main {
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  width: 100%;
  padding-top: 60px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 20px;
  background: #091C49;
  color: #222;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px rgba(9, 28, 73, 0.5);
  z-index: 1000;
  animation: slideIn 0.5s ease-in-out;
}
.notification.hide {
  animation: slideOut 0.5s ease-in-out;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(108deg, #091C49, #111827);
  border-radius: 10px;
  border: 1px solid #f1f1f1;
}

*::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

@media screen and (max-width: 768px) {
  *::-webkit-scrollbar {
    width: 0px;
  }
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  width: 100%;
  max-width: 1000px;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.button {
  padding: 18px 32px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}
.button__primary {
  background: #ffffff;
  color: #222;
  border: 1px solid #091C49;
  padding: 19px 32px;
}
.button__primary:hover {
  color: #222;
}
.button__secondary {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.button__secondary:hover {
  color: #222;
}

.btn {
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn__show {
  position: relative;
  background: linear-gradient(-6deg, #2563EB, #111827) padding-box, linear-gradient(108deg, #2563EB, #111827) border-box;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 16px;
  padding: 8px 12px;
}
.btn__show-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  padding: 4px;
  background: linear-gradient(-6deg, #2563EB, #111827) padding-box, linear-gradient(108deg, #2563EB, #111827) border-box;
  border: 2px solid transparent;
  border-radius: 50%;
}
.btn__show:hover {
  color: #fff;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  .nav {
    font-size: 18px;
  }
}
@media screen and (max-width: 425px) {
  .nav {
    font-size: 16px;
  }
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  padding: 0;
}

.sidenav {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 305px;
  height: 100%;
  padding: 20px 30px;
  color: white;
  background: linear-gradient(108deg, #091C49, #111827);
  transition: transform 0.3s linear;
  overflow: auto;
}
.sidenav--close {
  transform: translateX(-235px);
}
.sidenav__btn-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 32px;
  height: 32px;
  border: 1px solid #fff;
  border-radius: 6px;
  background: linear-gradient(108deg, #091C49, #111827);
  transition: transform 0.3s linear;
}
.sidenav__btn-toggle--active {
  transform: rotate(90deg);
}
.sidenav__menu > li {
  border-bottom: 1px solid #444;
}
.sidenav__menu > li > a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 1rem 1.5rem;
  transition: background 0.3s;
}
.sidenav__menu > li > a:hover {
  color: #091C49;
  background: #2563EB;
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.accordion-item {
  border-bottom: 1px solid #444;
}
.accordion-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  width: 100%;
}
.accordion-item__header-title, .accordion-item__header-icon {
  color: #fff;
  border: none;
  text-align: left;
  font-size: 1.25rem;
  font-weight: 700;
  background: none;
  cursor: pointer;
  outline: none;
}
.accordion-item__content {
  display: none;
  flex-direction: column;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
}
.accordion-item__content--active {
  display: flex;
}
.accordion-item__content a {
  padding: 8px 10px;
  border-radius: 4px;
  background: transparent;
  color: #fff;
  text-decoration: none;
  display: block;
  transition: background 0.3s;
}
.accordion-item__content a:hover {
  background: linear-gradient(108deg, #2563EB, #111827);
}
.accordion-item__search-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  border: #d1d5db 1px solid;
  border-radius: 8px;
  width: 100%;
}
.accordion-item__search-bar input {
  border: none;
  padding: 8px 10px;
  background: transparent;
  width: 100%;
  border-radius: 8px;
  color: #fff;
}
.accordion-item__search-bar-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.progress {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  transition: all 0.3s ease;
}
.progress__bar {
  width: 100%;
  height: 10px;
  background-color: #ccc;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.progress__bar__fill {
  width: 0;
  height: 100%;
  background-color: #10B981;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  transition: width 0.3s ease;
}
.progress__percentage {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 10px;
}
.progress.progressBar--completed .progressBar__bar__fill {
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  width: 100%;
  max-width: 1000px;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.header {
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 60px;
  padding: 0 0px;
  background: linear-gradient(108deg, #091C49, #111827);
}
.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  padding: 0 20px;
}
.header__logo-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 0;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}
.header__logo-link > p {
  margin-left: 10px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 750px;
  background: linear-gradient(108deg, #091C49, #111827);
  margin-bottom: 60px;
}
.hero__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100%;
  max-width: 1920px;
}
.hero__col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
.hero__col-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex: 1;
  height: 100%;
  padding: 0 30px 0 80px;
}
.hero__col-right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 100%;
  padding: 0 40px;
}
.hero__col-right > img:nth-last-child(1) {
  position: absolute;
  top: 80px;
}
.hero__cta {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px 0;
}

.dashboard {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  width: 100%;
  flex: 1;
}
.dashboard__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 100%;
  padding: 50px 100px;
  margin-left: 305px;
  transition: margin-left 0.3s linear;
}
.dashboard__content--full-width {
  margin-left: 70px;
}

.spec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.spec h1, .spec h2, .spec h3, .spec h4, .spec h5 {
  margin-bottom: 1rem;
  text-decoration: underline;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.spec h1 {
  font-size: 2.5rem;
}
.spec h2 {
  font-size: 1.5rem;
}
.spec h3 {
  font-size: 1.125rem;
}
.spec h4 {
  font-size: 1rem;
  margin-left: 1rem;
}
.spec strong, .spec h5 {
  font-size: 0.875rem;
  font-weight: bold;
}
.spec p {
  font-size: 0.875rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
.spec article {
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
}
.spec article ul li {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.project__title {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
  color: #000;
  text-decoration: underline;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 768px) {
  .project__title {
    font-size: 54px;
  }
}
@media screen and (max-width: 425px) {
  .project__title {
    font-size: 44px;
  }
}
.project__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 100%;
  padding: 10px;
  justify-self: stretch;
  border-bottom: 1px solid #ccc;
}
.project__name {
  font-size: 32px;
  font-weight: 700;
  color: #d9d9d9;
  color: #000;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 768px) {
  .project__name {
    font-size: 28px;
  }
}
@media screen and (max-width: 425px) {
  .project__name {
    font-size: 24px;
  }
}
.project__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 900px;
  margin: 50px auto;
}
.form > h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  width: 100%;
}
.form > div > label {
  font-size: 1.125rem;
  font-weight: 500;
}
.form > div > input, .form > div textarea, .form > div select {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  width: 100%;
}/*# sourceMappingURL=index.css.map */